[submodule "deps/nmigen"]
	path = deps/nmigen
	url = https://github.com/nmigen/nmigen.git
[submodule "deps/nmigen-boards"]
	path = deps/nmigen-boards
	url = https://github.com/nmigen/nmigen-boards.git
[submodule "deps/python-usb-protocol"]
	path = deps/python-usb-protocol
	url = https://github.com/usb-tools/python-usb-protocol.git
[submodule "deps/luna"]
	path = deps/luna
	url = https://github.com/greatscottgadgets/luna.git
