[submodule "deps/nmigen"]
	path = deps/nmigen
	url = https://github.com/nmigen/nmigen.git
[submodule "deps/nmigen-boards"]
	path = deps/nmigen-boards
	url = https://github.com/nmigen/nmigen-boards.git
[submodule "deps/python-usb-protocol"]
	path = deps/python-usb-protocol
	url = https://github.com/usb-tools/python-usb-protocol.git
[submodule "deps/luna"]
	path = deps/luna
	url = https://github.com/greatscottgadgets/luna.git
[submodule "deps/migen"]
	path = deps/migen
	url = https://github.com/m-labs/migen.git
[submodule "deps/litex-boards"]
	path = deps/litex-boards
	url = https://github.com/litex-hub/litex-boards.git
[submodule "deps/litex"]
	path = deps/litex
	url = https://github.com/enjoy-digital/litex.git
[submodule "deps/pythondata-cpu-vexriscv"]
	path = deps/pythondata-cpu-vexriscv
	url = https://github.com/litex-hub/pythondata-cpu-vexriscv.git
[submodule "deps/pythondata-software-compiler_rt"]
	path = deps/pythondata-software-compiler_rt
	url = https://github.com/litex-hub/pythondata-software-compiler_rt.git
[submodule "deps/litespi"]
	path = deps/litespi
	url = https://github.com/litex-hub/litespi.git
